DJANGO_SECRET_KEY=REPLACE_WITH_RANDOM_SECRET
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=chertezhi
POSTGRES_USER=chertezhi
POSTGRES_PASSWORD=REPLACE_WITH_RANDOM_PASSWORD
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
